* {
    box-sizing: border-box;
}
body {
    text-align: justify;
    margin: #1c1d1c;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(114, 49, 49);
    width: 100%;

}
.body-img-background {
    height: 350px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
nav{
    display: flex;
    justify-content: space-between;
    color: thistle;
    background-color: rgb(252, 241, 239);
    
}
ul {
    display: flex;
    list-style-type: none;

}
li>a {
    text-decoration: none;
    margin-right: 3em;
}
.Welcome {
    color: white;
    width: max-content;
    display: flex;
    font-size: 30px;
    font-display: 27px;

}
.Future {
    color: white;
}
.Products {
    text-color: white;a
}

.Intros {
    color: white;
}
.Intro {
    color: thistle;
}
.More  {
    color: white;
}
.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.Iana {
    height: 100%;
    width: 100%;
    color: rgb(245, 224, 245);
    margin-right: 100%;
}

#Header li a{
    color: thistle;
}
img {
    width: 300px;
    margin-top: 20px;
    height: 200px;

}
.color {
    color: white;
}
h1 {
    color: thistle;
}
h4 {
    color: thistle;
}
h5 {
    font-size: 20px;
    color: thistle;
}    
h3 {
    color: thistle;
    font-size: 20px;
}
.Images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-left {
    display: flex;
    justify-content: space-between;
    color: thistle;
    background-color: rgb(135, 122, 194);
}
.footer-right {
    display: flex;
    justify-content: space-between;
    color: thistle;
    background-color: rgb(135, 122, 194);
}
.footer-center {
    display: flex;
    justify-content: space-between;
    color: thistle;
    background-color: rgb(135, 122, 194);
}
